<div class="container bs-docs-container">
  <%= render 'shared/flash_messages'%>

  <div>
    <%= link_to 'Agregar Post', new_post_path, class: 'btn btn-success' %>
  </div>


  <% @posts.each do |post| %>
    <div class="row">
      <div class = "bs-docs-section">
        <div class="bs-callout bs-callout-info" id="callout-xref-input-group">
          <h4 id="input-groups"><%= post.title  %><a class="anchorjs-link" href="#input-groups">
            <span class="anchorjs-icon"></span></a>
          </h4>
          <div id="datos del post">
             <h5>
               <% if !post.publish_date.nil? %>
                  <span><%= Time.at(post.publish_date) %></span>
               <% end if %>
               <span><%= post.category.name %></span>
             </h5>
          </div>

            <p>
              <%= post.body %>
              <%= link_to 'Ver post',  post_path(post), :id =>"pos"+post.id.to_s %>
            </p>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
